@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    font-family: 'Lato', sans-serif;
    @apply text-gray-800;
    height: 100%;
}

body {
    height: 100%;
    @apply bg-gray-200;
}