<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="flex flex-col mb-5">
  <p class="text-xl mb-2 text-gray-700" *ngIf="loginMode">Login Form</p>
  <p class="text-xl mb-2 text-gray-700" *ngIf="!loginMode">Signup Form</p>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Email
    </label>
    <input type="email" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="email@domain.com" name="email" [(ngModel)]="model.email" email required>
  </div>

  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Password
    </label>
    <input type="password" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="Secret password" name="name" [(ngModel)]="model.password" required>
  </div>

  <div *ngIf="loginMode" class="flex flex-col">
    <button type="submit" class="bg-teal-400 p-3 text-white font-bold text-lg rounded disabled:bg-teal-200"
      [disabled]="!loginForm.valid" [ngClass]="{ 'cursor-not-allowed': !loginForm.valid}">
      Log in
    </button>
    <button type=" button"
      class="bg-transparent p-3 text-gray-700 font-bold text-lg rounded mt-2 border border-teal-400"
      (click)="switchMode(false)">
      Sign up
    </button>
  </div>
  <div *ngIf="!loginMode" class="flex flex-col">
    <button type="submit" class="bg-teal-400 p-3 text-white font-bold text-lg rounded disabled:bg-teal-200"
      [disabled]="!loginForm.valid" [ngClass]="{ 'cursor-not-allowed': !loginForm.valid}">
      Sign up
    </button>
    <button type="button" class="bg-transparent p-3 text-gray-700 font-bold text-lg rounded mt-2 border border-teal-400"
      (click)="switchMode(true)">
      Log in
    </button>
  </div>
</form>

<p class="text-center">Other ways</p>
<div class="w-full flex flex-row justify-around mt-4">
  <button type="button" (click)="signInWithGoogle()" class="rounded-full h-12 w-12 shadow p-2 bg-red-600 text-white">
    <i class="fab fa-google"></i>
  </button>
  <button type="button" (click)="signInWithTwitter()" class="rounded-full h-12 w-12 shadow p-2 bg-blue-500 text-white">
    <i class="fab fa-twitter"></i>
  </button>
  <button type="button" (click)="signInWithFacebook()" class="rounded-full h-12 w-12 shadow p-2 bg-blue-800 text-white">
    <i class="fab fa-facebook-f"></i>
  </button>
</div>

<div *ngIf="auth.isLoggedIn()">
  <button (click)="logout()">Logout</button>
</div>