<div class="bg-teal-300 text-xl py-4 px-4 text-white font-bold fixed w-full h-16 flex justify-between">
  <a [routerLink]="['/home']">I Will Take It</a>
  <div class="mr-2">
    <i class="far fa-user"></i>
  </div>
</div>
<div class="px-4 h-full pt-20 mb-48">
  <router-outlet></router-outlet>
</div>
<nav class="fixed bottom-0 right-0 bg-teal-300 text-white w-full text-lg shadow-2xl flex justify-around"
  style="height: 56px;">
  <a [routerLink]="[ './home' ]" routerLinkActive="tab-active" class="w-full flex text-teal-100">
    <div class="w-full flex flex-col justify-center text-center">
      <i class="fas fa-home"></i>
      <p class="text-sm font-bold">Accueil</p>
    </div>
  </a>
  <a [routerLink]="[ './details' ]" routerLinkActive="tab-active" class="w-full flex text-teal-100">
    <div class="w-full flex flex-col justify-center text-center">
      <i class="fas fa-calendar-day"></i>
      <p class="text-sm font-bold">Evènements</p>
    </div>
  </a>
  <a [routerLink]="[ './details' ]" routerLinkActive="tab-active" class="w-full flex text-teal-100">
    <div class="w-full flex flex-col justify-center text-center">
      <i class="fas fa-user-friends"></i>
      <p class="text-sm font-bold">Invitations</p>
    </div>
  </a>
</nav>