<form #eventForm="ngForm" (ngSubmit)="onSubmit()">
  <p class="text-xl mb-2 text-gray-700">Event details</p>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Name
    </label>
    <input type="text" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="Birthday party" name="name" [(ngModel)]="model.name">
  </div>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Date
    </label>
    <input type="date" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="Date" name="date" [(ngModel)]="date">
  </div>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Time
    </label>
    <input type="time" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="Time" name="time" [(ngModel)]="time">
  </div>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Description
    </label>
    <textarea class="py-3 px-3 rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="Birthday of my cousins" rows="5" name="description" [(ngModel)]="model.description"></textarea>
  </div>
  <p class="text-xl mb-2 text-gray-700">Event location</p>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Street name
    </label>
    <input type="text" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="Rue de la prévoyance 15" name="streetName" [(ngModel)]="model.streetName">
  </div>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      City
    </label>
    <input type="text" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="Brussels" name="city" [(ngModel)]="model.city">
  </div>
  <div class="flex flex-col w-full mb-6">
    <label class="mb-2 font-bold text-gray-700">
      Postal code
    </label>
    <input type="text" class="py-3 px-3  rounded shadow text-gray-700 border border-gray-100 focus:border-blue-400"
      placeholder="1000" name="postalCode" [(ngModel)]="model.postalCode">
  </div>
  <button type="submit" class="fixed bottom-0 right-0 mr-4 mb-4
  rounded-full bg-teal-500 text-white w-12 h-12 text-lg shadow-2xl">
    <i class="fas fa-save"></i>
  </button>
</form>