<a class="event" [routerLink]="['/event', event.id, 'details']">
  <div class="event-info flex flex-col w-2/3">
    <p class="event-title truncate">{{event.name}}</p>
    <p class="event-participants">{{event.participants}} participants / {{event.commonPot}} €</p>
  </div>
  <div class="event-datetime w-1/3">
    <p class="event-date">
      {{event.dateTime | date: 'E'}}
      {{event.dateTime | date: 'd'}}
      {{event.dateTime | date: 'LLL'}}</p>
    <p class="event-time">{{event.dateTime | date:'H:MM'}}</p>
  </div>
</a>