<nav class="h-16 fixed inset-x-0 top-0 mt-16 w-full bg-teal-300 flex justify-around text-lg shadow-md cursor-pointer
  border border-t-2 border-teal-200">
  <a [routerLink]="[ './details' ]" routerLinkActive="tab-active" class="w-full flex text-teal-100">
    <div class="w-full flex flex-col justify-center text-center">
      <i class="fas fa-calendar-day"></i>
      <p class="text-sm font-bold">Info</p>
    </div>
  </a>
  <a [routerLink]="[ './guest' ]" routerLinkActive="tab-active" class="w-full flex text-teal-100">
    <div class="w-full flex flex-col justify-center text-center">
      <i class="fas fa-users"></i>
      <p class="text-sm font-bold">Invité</p>
    </div>
  </a>
</nav>

<div class="mt-16">
  <router-outlet></router-outlet>
</div>