<div *ngIf="event">
  <p class="text-3xl font-bold">{{event.name}}</p>
  <div class="flex justify-between">
    <p class="text-xl font-medium text-gray-700">
      {{event.dateTime | date: 'E'}}
      {{event.dateTime | date: 'd'}}
      {{event.dateTime | date: 'LLL'}}
    </p>
    <p class="text-xl font-medium text-gray-700">{{event.dateTime | date:'H:MM'}}</p>
  </div>
  <p class="text-gray-600 font-normal">
    {{event.description}}
  </p>
  <div class="text-xl bg-white p-4 rounded-lg mt-3 shadow-md">
    <p class="text-gray-600">Adresse</p>
    <p class="text-gray-700">{{event.streetName}}</p>
    <p class="text-gray-700">{{event.communeName}} {{event.postalCode}}</p>
  </div>
  <div class="flex justify-between">
    <a class="text-xl bg-blue-100 p-4 rounded-lg mt-3 mr-3 w-1/2 text-center shadow-md"
      href="event_detail_members.html">
      <p class="text-gray-600">Participants</p>
      <p class="text-gray-700 font-bold">{{event.participants}} / {{event.totalParticipants}}</p>
    </a>
    <div class="text-xl bg-green-100 p-4 rounded-lg mt-3 w-1/2 text-center shadow-md">
      <p class="text-gray-600">Pot commun</p>
      <p class="text-gray-700 font-bold">{{event.commonPot}}€</p>
    </div>
  </div>
  <div class="flex justify-between">
    <button type="button"
      class="text-xl bg-teal-300 p-4 rounded-lg mt-3 w-full flex items-center justify-center shadow-md"
      (click)="participate(true)" *ngIf="!event.isComing">
      <p class="text-white font-bold">Je participe</p>
    </button>
    <button type="button"
      class="text-xl bg-red-500 p-4 rounded-lg mt-3 w-full flex items-center justify-center shadow-md"
      (click)="participate(false)" *ngIf="event.isComing">
      <p class="text-white font-bold">Je ne viens pas</p>
    </button>
  </div>
</div>

<!-- Pin to bottom right corner -->
<button type="button" class="fixed bottom-0 right-0 mr-4 mb-4
  rounded-full bg-teal-500 text-white w-12 h-12 text-lg shadow-2xl" (click)="editEvent()">
  <i class="fas fa-pen"></i>
</button>