<!--<div *ngFor="let event of events | async">
  <app-event-tile [event]="event"></app-event-tile>
</div>-->
<div class="bg-white shadow rounded-lg flex w-full mb-3">
  <div class="flex flex-col w-full">
    <div class="p-3 text-lg truncate">
      Mon super event
    </div>
  </div>
  <div class="text-center text-teal-800 bg-teal-100 p-5 w-32 h-32 rounded-r-lg">
    <p>
      Jeudi
    </p>
    <p class="text-3xl font-medium">
      14
    </p>
    <p class="text-sm">
      Septembre
    </p>
  </div>
</div>

<div class="bg-white shadow rounded-lg flex w-full mb-3">
  <div class="flex flex-col w-full">
    <div class="p-3 text-lg truncate">
      Mon super event
    </div>
  </div>
  <div class="text-center bg-teal-100 p-5 w-32 h-32 rounded-r-lg" style="color: #102A43;">
    <p>
      Jeudi
    </p>
    <p class="text-3xl font-medium">
      14
    </p>
    <p class="text-sm">
      Septembre
    </p>
  </div>
</div>

<div class="bg-white shadow rounded-lg flex w-full mb-3">
  <div class="flex flex-col w-full p-3">
    <p class="text-lg truncate">Mon super event</p>
    <div class="flex justify-around mt-5">
      <i class="fas fa-user-check text-4xl"></i>
      <div class="">
        <span class="text-2xl">40</span>
        <i class="fas fa-dollar-sign"></i>
      </div>
    </div>
  </div>
  <div class=" text-center text-white p-5 w-32 h-32 rounded-r-lg" style="background-color: #19216C;">
    <p>
      Jeudi
    </p>
    <p class="text-3xl font-medium">
      14
    </p>
    <p class="text-sm">
      Septembre
    </p>
  </div>
</div>
<!-- Pin to bottom right corner -->
<button type="button" class="fixed bottom-0 right-0 mr-4 mb-4
  rounded-full bg-teal-500 text-white w-12 h-12 text-lg shadow-2xl" (click)="addEvent()">
  <i class="fas fa-plus"></i>
</button>

<button type="button" (click)="logout()">
  Logout
</button>